body{
    background-color:rgb(243, 243, 243);
}

#box1{
    width: 500px;
    height: 200px;
    display: inline-block;
    margin-left: 150px;
    margin-top:200px;
    padding-left: 20px;
}

#box2{
    width:300px;
    height: 350x;
    display: inline-block;
    padding-right:35px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -200px;
    margin-left: 600px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px grey;
}
input{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 300px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
}
#btn{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 315px;
    height: 48px;
    padding-left: 10px;
    font-size: 18px;
    background-color: #316FF6;
    color: white;
}
p{
    padding-left:90px;
    color: #316FF6;
}
#bt{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 200px;
    height: 45px;
    margin-left:60px ;
    padding-left: 8px;
    font-size: 18px;
    background-color: rgb(79, 165, 39);
    color: white;
}

#sp{
    color: #316FF6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: 700;
}
#s{
    font-size: 30px;
}